<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<th:block th:fragment="taskentrypage">
<head>
<script th:src="@{/Tms/Masters/taskentry.js}"></script>
</head>
<body>

<div id="fulldiv">
<!-- //<input type="text" value="${return_status}" id="returnMsg" /> -->
<input type="hidden" th:value="${return_status}" id="returnMsg"/>
<input type="hidden" th:value="${erorr}" id="error"/>
<th:each var="return_status" scope="session" value="${return_status}" />

<div id="halfdiv">

     <table border="0" th:style="'width:100%; border-collapse:collapse; border-collapse:collapse;font-size:12px; margin-top:15px; font-family: OpenSans-Semibold; font-weight:14px;'" align="center" id="form_pan">
    <tr>
        <td colspan="3" id="frm_head">
       		Add- Report Entry
        </td>
   </tr>
 
   
        <tr id="frm_tbleodd">

            <td width="22%" class="frmtbl_td">Date</td>
            <td width="30%">
            <input type="text" name="date" id="date" readonly="readonly"></input>
            </td>           
          <td width="10%"><span style="color:#ff0000; display: none" id="Error">Please choose date</span></td>
        </tr>

	   <tr id="frm_tbleven">

            <td width="22%" class="frmtbl_td">From time</td>
            <td width="30%">
           <input type="text" name="shiftFrom" id="shiftFrom"  onclick="from_function();" readonly="readonly"/>

            </td>           
          <td width="10%"><span style="color:#ff0000; display: none" id="Error1">Please choose FromTime</span></td>
        </tr>
      
          <tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td">To Time</td>
            <td width="30%">
         		<input type="text" name="shiftTo" id="shiftTo"  onclick="To_Function();" readonly="readonly"/>
          </td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error2">Please choose ToTime</span></td></tr>
  		  
  		  
  		  <tr id="frm_tbleven">
            <td width="22%" class="frmtbl_td">Difference Time</td>
            <td width="30%">
     		<input type="text" name="shift" id="shift"/>
     		
        </td>
         <td width="10%"> <span style="color:#ff0000; display: none" id="Error3">Please Enter Hours</span></td>
        </tr>
            <tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td">Entry Type</td>
            <td width="30%">
         		<input type="radio" name="tasktype" id="tasktype" value="O" onclick="Other_Fucntion();"/>Others 
         		<input type="radio" name="tasktype" id="tasktype" value="T" onclick="Task_Function();"/>Task
          </td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error4">Please choose the Entry Type</span></td></tr>
  		  
  		  
  		  <tr id="othertask"  style="display: none;">
            <td width="22%" class="frmtbl_td">OtherActivity</td>
            <td width="30%">
         		<select name="otheract_id" id="otheract_id">
         		<option value="0" >Select OtherActivity</option>	
         		<option  th:each="otheractivityList : ${otheractivityList}" th:value="${otheractivityList.id}" th:text="${otheractivityList.otheract_det}"></option>
         		</select>
         		</td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error5">Please choose the other Activity</span>
                 
        
         		
       </td>
       
       </tr>
 
  		   <tr id="tasktask" style="display: none;">
            <td width="22%" class="frmtbl_td">Project</td>
            <td width="30%">
         		<select style="width:35%" th:onchange ="'javascript:onmodule();'" id="project_id" name="project_id">
         		<option value="0">Select Project</option>
         		<option th:each="projectlist : ${projectlist}" th:value="${projectlist.id}" th:text="${projectlist.name}"></option> 
         		</select>
          </td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error6">Please choose the Project</span>
          </td>
          </tr>
          
          <tr id="tasktask1" style="display: none;">
            <td width="22%" class="frmtbl_td">Module</td>
            <td width="30%">
             <div id="module2">
              <div id="module1">
         		<select id="module_id" name="module_id"  style="width:35%" th:onchange ="'javascript:onactivity();'" >
         		<option value="0">Select Module</option>
         		<th:block  th:each="show:${moduleshow}" >            
                <option th:value="${show.id}" th:text="${show.module_detail}"></option>
             
            </th:block> 
         		</select>
         		</div>
         		</div>
          </td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error7">Please choose the Module</span>
          </td>
          </tr>
  		  
  		  <tr id="tasktask2" style="display: none;">
            <td width="22%" class="frmtbl_td">Activity</td>
            <td width="30%">
         	<div id="activity1">
            <div id="activity2">
            <select id="projectact_id" name="projectact_id"  style="width:35%">
         		<option value="0">Select Activity</option>
         		<th:block  th:each="show:${activityshow}" >            
            <option th:value="${show.id}" th:text="${show.activity_dts}"></option>
             
            </th:block>
         		</select>
         	</div>
         	</div>
          </td>
                    <td width="48%"><span style="color:#ff0000; display: none" id="Error8">Please choose the Activity</span>
          </td></tr>
  		  
  		  <tr id="frm_tbleven">
            <td width="22%" class="frmtbl_td">Taskentry Detail</td>
            <td width="30%">
     		<textarea rows = "3" cols = "20" name ="taskdetails" id="taskdetails"></textarea>
        </td>
         <td width="10%"> <span style="color:#ff0000; display: none" id="Error9">Please Enter the Task Details</span></td>
        </tr>
  		  
  		  
  		   <tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td">Taskentry Problem</td>
            <td width="30%">
         		<textarea rows = "3" cols = "20" name ="taskprbldetails" id="taskprbldetails"></textarea>
          </td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error10">Please Enter the Task problem</span></td></tr>
  		  
  		  
  		  <tr>
                    <td colspan="3" >
                   
		                  <button class="frmbutton" style="margin-left: 22%;" onclick="Taskentry_Function();">Save</button>


							<input type="reset" class="frmbutton" style="margin-left:2.5%;" th:value="Reset" onclick="canceltaskentry();" ></input>
					</td>
					</tr>
</table>
</div>

<table id="myTable" width="100%;" style="margin-top:50px; border-collapse:collapse;">
			<thead>
				<tr>
					<td colspan="10" id="rpt_head">Task Entry Details</td>
				
				</tr>
				
				<tr id="trtable">
				<td width="2%" >S.No</td>				
				<td width="20%">Task Date</td>		
				<td width="20%">From Time</td>		
				<td width="20%">To Time</td>				
				<td width="20%">Duration</td>
				<td width="20%">Task Type</td>
				<td width="20%">Task Details</td>
				<td width="20%">Task Problem</td>
				<td width="20%">Edit</td>
				</tr>
				</thead>
				<tbody>			
	
	         <th:block th:each="li,serialNO : ${tasklist}">
	         <tr>
	 
	           <td style="text-align: left;padding-left: 2%" th:text="${serialNO.index+1}"></td>
	           <td style="text-align: left;padding-left: 2%" th:text="${#dates.format(li.taskentry_date, 'dd/MM/yyyy')}"></td>
	           <td style="text-align: left;padding-left: 2%" th:text="${li.taskentry_frmtime}"></td><!-- th:text="${#temporals.format(li.taskentry_frmtime, 'HH:mm')}" -->
	           <td style="text-align: left;padding-left: 2%" th:text="${li.taskentry_totime}"></td>
	           <td style="text-align: left;padding-left: 2%" th:text="${li.taskentry_totmin}"></td>
	           <td style="text-align: left;padding-left: 2%">
	           <th:block th:if="${li.taskentry_type=='O'}">Others</th:block>
	           <th:block th:if="${li.taskentry_type=='T'}">Task</th:block></td>
	           <td style="text-align: left;padding-left: 2%" th:text="${li.taskentry_detail}"></td>
	           <td style="text-align: left;padding-left: 2%" th:text="${li.taskentry_prob}"></td>
	           <td th:style="'text-align: left;padding-left: 2%'"><a th:onclick="'javascript:edittaskentry('+${li.id}+')'">
               <img th:style="'width:16px; height:16px;'" alt="" th:src="@{/common/images/edit.png}"></img></a></td>
	           </tr>
	           </th:block>
	           </tbody>
</table>	
</div>
<script type="text/javascript">
	 $('#myTable').dataTable({
			"aLengthMenu" : [ [ 20, 30, 40, -1 ], [ 20, 30, 40, "All" ] ],
			"iDisplayLength" : 20,			
		});	
	 function start(err_id) 
	 {
			var error = $("#returnMsg").val();
			if (error.length == 0) {

				if (err_id == 1) {
					jAlert("Task Entery Successfully", "Success");
				} else if (err_id == 2) {
					jAlert("Task Updated Successfully", "Success");
				} else if (err_id == 3) {
					jAlert("Evaluation Master Deleted Successfully", "Success");
				}			
			}
			else if(error=="Data Integrity Exception") {
				 
				jAlert("Data Already Present", "Error");
			 
			}
			else if(err_id=="Data Already Present") {
				 
				jAlert("Data Already Present", "Error");
			 
			}
			else {
				jAlert(error, "Error");
			}
}
</script>
</body>
</th:block>
</html>