<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Change Password Page</title>
<script type="text/javascript">
function changePass()
{
	var old_pass=$("#old_pass").val();
	var new_pass=$("#new_pass").val();
	var new_pass1=$("#new_pass1").val();
	if(old_pass=="" || new_pass=="" || new_pass1=="")
	{
		if(old_pass=="")
		{
			$("#err_old_pass").show();
		}
		if(new_pass=="")
		{
			 $("#err_new_pass").show();
		}
		if(new_pass1=="")
		{
			 $("#err_new_pass1").show();
		}
	}	
}
function reset()
{
	   $("#old_pass").val('');
	   $("#new_pass").val('');
	   $("#new_pass1").val('');
	   $("#err_old_pass").hide();
	   $("#err_new_pass").hide();
	   $("#err_new_pass1").hide();
}
</script>
</head>
<body>

    <table width="100%" border="0" style="border-collapse:collapse; border-collapse:collapse;font-size:12px; margin-top:15px; font-family: OpenSans-Semibold; font-weight:14px;" align="center" id="form_pan">
  <tr>
        <td colspan="3" id="frm_head">Change Password</td>
        <td colspan="3" id="frm_head"><a href="back" id="a" style="color:black; float: right">Back</a></td>
   </tr>
   
<tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td" style="padding-left: 5px;">Old Password</td>
            <td width="36%"><input type="password" class="textbox" name="old_pass" id="old_pass"></input></td>
            <td width="36%"><span style="color: red;display: none;" id="err_old_pass">Old Password Required</span></td>
   </tr>
   
   
   <tr id="frm_tbleven">
            <td width="22%" class="frmtbl_td" style="padding-left: 5px;">New Password</td>
            <td width="36%"><input type="password" class="textbox" name="new_pass" id="new_pass"></input></td>
          <td width="36%"><span style="color: red;display: none;" id="err_new_pass">New Password Required</span></td>
   </tr>
   
   <tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td" style="padding-left: 5px;">Re-Enter New Password</td>
            <td width="36%"><input type="password" class="textbox" name="new_pass1" id="new_pass1"></input></td>
          <td width="42%"><span style="color: red;display: none;" id="err_new_pass1">Re-enter New password Required</span></td>
  </tr>
           
   <tr>
      <td colspan="3" >
     
      <button  class="frmbutton" style="margin-left:25%;" onclick="changePass();">Change</button>    
    <button  class="frmbutton" style="margin-left:2.5%;" onclick="reset();">Reset</button>
     </td>
  </tr>
</table>

</body>
</html>