<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<th:block th:fragment="otheractivityassign">
<script th:src="@{/Tms/Masters/otheractivityassign.js}"></script>
<body>
<div id="fulldiv">

<div id="halfdiv">
       
     <table border="0" th:style="'width:100%; border-collapse:collapse; border-collapse:collapse;font-size:12px; margin-top:15px; font-family: OpenSans-Semibold; font-weight:14px;'" align="center" id="form_pan">

 
    <tr>
        <td colspan="3" id="frm_head">
       		Other Activity Assign - Add
        </td>
   </tr>
 
   
        <tr id="frm_tbleodd">

            <td width="22%" class="frmtbl_td">Employee Name</td>
            <td width="30%">
           

            <select id="empb_code" name="empb_code"  style="width:35%">
            <option value="0" >--Select Employee Name--</option>
            <option  th:each="EmployeeList : ${EmployeeList}" th:value="${EmployeeList.empb_id}" th:text="${EmployeeList.empb_fname}"></option>         
           </select>
           </td>           
          <td width="10%"><span style="color:#ff0000; display: none" id="Error">Select Employee</span></td>
        </tr>

		<tr id="frm_tbleven">
            <td width="22%" class="frmtbl_td">Other Activity Name</td>
            <td width="30%">
             
            <select id="otheract_id" name="otheract_id"  style="width:35%" > <!-- -->
            <option value="0" >--Select other activity--</option>       
             <option  th:each="otheractivityList : ${otheractivityList}" th:value="${otheractivityList.id}" th:text="${otheractivityList.otheract_det}"></option>
            </select> 
           
          </td>
         <td width="10%"> <span style="color:#ff0000; display: none" id="Error1">select Module</span></td>
        </tr>
      
        <!-- <tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td">Assign Employee Code</td>
            <td width="30%">
                    <input type="text" style="width: 35%;"  name="assign_empcode" id="assign_empcode"></input>  
          </td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error2">Select Assign Code</span></td>
        </tr> -->
          <tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td">Status</td>
            <td width="30%">
            <select id="otheractassign_status" name="otheractassign_status"  style="width:35%">
            <option value="0" >--Select Status--</option>
            <option value="Y">Active</option>
            <option value="N">Inactive</option>
            </select> 
          </td>
          <td width="48%"><span style="color:#ff0000; display: none" id="Error3">Select Status</span></td></tr>
  		  <tr>
                    <td colspan="3" >
                   
		                  <button class="frmbutton" style="margin-left: 22%;" onclick="saveotheractivityassign()">Save</button>


							<input type="reset" class="frmbutton" style="margin-left:2.5%;" th:value="Reset" onclick="cancelOAA();" ></input>
					</td>
					</tr>
</table>
</div>
<table id="myTable" width="100%;" style="margin-top:50px; border-collapse:collapse;">
			<thead>
				<tr>
					<td colspan="8" id="rpt_head">Project Assign to Employee Details</td>
				
				</tr>
				
								
				<tr id="trtable">
				<td width="2%" >S.No</td>				
				<td width="20%">Employee Name</td>
				<td width="20%">Other Activity Name</td>
				<td width="20%">Status</td>	
				<td width="12%">Edit</td>
				</tr>
				</thead>
				<tbody>			
	<th:block th:each="li,serialNO : ${otheractivityassignlist}" >
	
	<tr>
	
	<td style="text-align: left;padding-left: 2%" th:text="${serialNO.index+1 }"></td>
	<td style="text-align: left;padding-left: 2%" >
	
	<th:block th:each="EmployeeList : ${EmployeeList}" th:if="${li.empb_id==EmployeeList.empb_id}"
	th:text="${EmployeeList.empb_fname}">
	 	
	 	</th:block>
	 </td>
	 <td style="text-align: left;padding-left: 2%" >
	 <th:block th:each="otheractivityList : ${otheractivityList}" th:if="${li.otheract_id==otheractivityList.id}"
	th:text="${otheractivityList.otheract_det}">
	 	
	 	</th:block>
	 </td>
	 <td style="text-align: left;padding-left: 2%" >
	 <th:block th:if="${li.otheractassign_status=='Y'}">Active</th:block>
	<th:block th:if="${li.otheractassign_status=='N'}">In-Active</th:block>
	
	 </td>
	 
	 <td th:style="'text-align: left;padding-left: 2%'"><a th:onclick="'javascript:editotheractivityassignid('+${li.otheractassign_id}+')'">
	<img th:style="'width:16px; height:16px;'" alt="" th:src="@{/common/images/edit.png}"></img></a></td>
	
	 
	</tr>
	</th:block>
	</tbody>

	</table>	
	</div>
	<script type="text/javascript">
	
	
	 $('#myTable').dataTable({
			"aLengthMenu" : [ [ 20, 30, 40, -1 ], [ 20, 30, 40, "All" ] ],
			"iDisplayLength" : 20,
			
		});	
	</script>
</body>
</th:block>
</html>