<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
<script th:src="@{/Tms/EmployeeProfile/searchEmp.js}"></script>
</head>
<body>

       	<div  id="employeeList">
     <table border="0" th:style="'width:100%; border-collapse:collapse; border-collapse:collapse;font-size:12px; margin-top:15px; font-family: OpenSans-Semibold; font-weight:14px;'" align="center" id="form_pan">
    <tr>
        <td colspan="3" id="frm_head">
       		Employee-Profile
        </td>
        
   </tr>

   
   
  <tr id="frm_tbleodd">
            <td width="22%" class="frmtbl_td">Employee Code:</td>
            <td width="30%">
           			<input type="text" style="width: 35%;" maxlength="60" name="empCode" id="empCode" onkeyup="searchEmployee(this.value);" ></input>     				
          </td>
          <td width="48%"><span style="color:#ff0000; display: none " id="err_search" >Enter Employee Code</span></td>
   </tr>




                     <tr>
                    <td colspan="3" >
                   
		                  <button  class="frmbutton" style="margin-left:25%;" onclick="getEmployeeDet();">Search</button>
					</td>
					</tr>
</table>




	
	<table width="96%" style="border-collapse:collapse;font-size:12px; margin-top:15px; font-family: OpenSans-Semibold; font-weight:14px;" align="center" id="employeeListTable">
  <tr id="frm_head">
        <td colspan="18" style=" color:#443a3a; font-weight:bold; padding-left:10px;">
       		Employee Info 
        </td>
    </tr>
 
	<th:block th:each="li,serialNO : ${list1}" >
	<tr>
	
	 <td th:text="'Employee Code &nbsp;&nbsp;&nbsp;   :&nbsp;'+ ${li.empb_id}"></td>
	 <td th:each="list : ${empCatList}" th:if="${list.id==li.empCatToEmp}"
	 	 th:text="'Category   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;'+ ${list.empCatName}"></td>
	 	 <td th:each="list : ${JobLevelList}" th:if="${list.id==li.levelToemp}" 
	 	 th:text="'Level &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;' +${list.levelName}"></td>
	 </tr>
	 <tr>
	 <td th:text="'Employee Name &nbsp;&nbsp;:&nbsp;'+${li.empb_fname} +' '+ ${li.empb_lname}"></td>
	 <td th:each="list : ${departmentList}" th:if="${list.id==li.deptToempBasic}" th:text="'Department  &nbsp; : &nbsp;'+ ${list.depart_name}"></td>
	 <td th:text="'Contact &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;:&nbsp;'+${li.empb_mobile}"></td>
	 
	</tr>
	<tr>
	<td th:text="'Date Of Birth &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;'+${#dates.format(li.dob, 'dd/MM/yyyy')}"></td>
	<td th:each="list : ${divisionList}" th:if="${list.id==li.divToempBasic}" 
	th:text="'Division   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 	 :&nbsp;'+ ${list.division_name}"></td>
	</tr>
	<tr>
	<td th:text="'Employee Email &nbsp;&nbsp;&nbsp;:&nbsp;'+${li.empb_email}"></td>
	<td th:each="list : ${DesignationList}" th:if="${list.id==li.desigToEmp}" 
	th:text="'Designation &nbsp; : &nbsp;'+ ${list.desig_name}"></td>
	</tr>
	</th:block>

</table>

	
	</div>
	
	
</body>
</html>
