<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<div th:fragment="footer_js">
<script th:src="@{/common/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/common/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/common/js/jquery-ui.min.js}"></script>
<script th:src="@{/common/js/bootstrap.min.js}"></script>
<script th:src="@{/common/js/jquery.ui.timepicker.js}"></script>	
<script th:src="@{/common/js/jquery.alert.js}"></script>
<script th:src="@{/common/js/jquery.alphanumeric.js}"></script>
<script th:src="@{/common/js/jquery.alphanumeric.pack.js}"></script>
<script th:src="@{/common/js/admin_screen.js}"></script>  
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> -->
<script th:src="@{/common/js/dataTables/jquery.dataTables.js}"></script> 
<script th:src="@{/common/js/dataTables.fixedColumns.min.js}"></script>
<script th:src="@{/common/js/jquery.blockUI.js}"></script>
<script th:src="@{/common/js/dataTables/dataTables.buttons.min.js}"></script>
<script th:src="@{/common/js/jquery-DOM.js}"></script>  
<script th:src="@{/common/js/tableHeadFixer.js}"></script>    
<script th:src="@{/common/js/detect.js}"></script>
<script type="text/javascript" th:src="@{/common/splitter/splitter.js}"></script>

</div>
</html>
