<html  xmlns:th="http://thymeleaf.org">
<body>
<th:block th:fragment="header_css">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link th:href="@{/common/css/datecss.css}" rel="stylesheet" />
	<link rel="stylesheet"  th:href="@{/common/css/jquery.alert.css}" /> 
	<link rel="stylesheet"  th:href="@{/common/css/jquery.ui.timepicker.css}" /> 
	<link rel="stylesheet"  th:href="@{/common/css/jquery-ui.min.css}" />
    <!-- <link th:href="@{/common/css/jquery-ui.structure.css}" rel="stylesheet"/>    
    <link th:href="@{/common/css/jquery-ui.theme.css}" rel="stylesheet"/>-->
	 <link th:href="@{/common/css/bootstrap.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/freemenutemplate.css}" /> 
	 <link rel="stylesheet" th:href="@{/common/js/dataTables/jquery.dataTables.min.css}" />
	<link th:href="@{/common/css/admin_css.css}" rel="stylesheet" />
	<link th:href="@{/common/css/css_font.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/html_css.css}" /> 
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/font_css.css}" /> 
	
	
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/styles.css}" />
</th:block>
</body>
</html> 